<!-- map.component.html -->
<div class="map-container">
  <div class="content">
    <h1 class="title">აღმოაჩინე სალხინო</h1>
    <h2 class="subtitle">ამოირჩიე საქართველოს სული, კულტურა, დაუვიწყარი მომენტები.</h2>
    <button class="action-btn" aria-label="Explore">
      <i class="fas fa-arrow-right"></i>
    </button>
  </div>

  <div class="map-frame">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14333.229161103442!2d42.2989158!3d42.5078472!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x405c6c5f64c55945%3A0x3ae1baaa40ace7c4!2sSalkhino!5e0!3m2!1sen!2sge!4v1694625282819!5m2!1sen!2sge"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
