<section>
  <h1 class="title">განცხადების შექმნა</h1>
  <form [formGroup]="forumForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>სათაური</label>
      <input formControlName="forumTitle" type="text" placeholder="" />
    </div>
    <div class="form-group">
      <label>რეგიონი</label>
      <input formControlName="forumRegion" type="text" placeholder="" />
    </div>
    <div class="form-group">
      <label>აღწერა</label>
      <textarea formControlName="forumSummary" placeholder=""></textarea>
    </div>
    <button type="submit" class="btn-submit" [disabled]="!forumForm.valid">დამატება</button>
  </form>
</section>
