<div class="section">
    <h2 class="section-title">ტურები</h2>
    <div class="card-container">
      <div class="card">
        <img src="assets/images/slide6.jpg" alt="Tour 1" />
        <div class="card-content">
          <h3>ერთი დღიანი ტური ყაზბეგში</h3>
          <p>სატრანსპორტო მომსახურება</p>
        </div>
      </div>
      <div class="card">
          <img src="assets/images/slide3.jpg" alt="Tour 1" />
          <div class="card-content">
            <h3>ერთი დღიანი ტური ყაზბეგში</h3>
            <p>სატრანსპორტო მომსახურება</p>
          </div>
      </div>
      <div class="card">
        <img src="assets/images/slide2.jpg" alt="Tour 2" />
        <div class="card-content">
          <h3>ჯომარდობა მდინარე გარეუბნში</h3>
          <p>
            <span class="stars">⭐⭐⭐⭐⭐</span>
            <span>2 მიმოხილვა</span>
          </p>
          <p>თამაშები და აქტივობები</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/slide6.jpg" alt="Tour 3" />
        <div class="card-content">
          <h3>ცხენზე ჯირითი თიანეთში</h3>
          <p>
            <span class="stars">⭐⭐⭐⭐</span>
            <span>1 მიმოხილვა</span>
          </p>
          <p>აქტივობები</p>
        </div>
      </div>
    </div>
  </div>
