.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-inline: clamp(10px, 5vw, 30px);
}


/* Tablet & Medium Screens */
@media (max-width: 1024px) {
  .main {
    padding: clamp(16px, 3vw, 24px);
  }
}

/* Mobile */
@media (max-width: 768px) {
  .main {
    width: 90%;
    padding: clamp(12px, 4vw, 20px);
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .main {
    width: 95%;
    padding: clamp(10px, 4vw, 16px);
  }
}
