body {
    --background: linear-gradient(135deg, #F1D58B, #A56F48, #9B9F72); /* Soft warm yellow, brown, and green */
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fdf8f3;
  }
  